@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../src/Affix.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-button/src/Button.scss";
@import "../node_modules/bee-transition/src/Transition.scss";

.content {
  width: 150px;
  height: 100px;
  background: red;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
.outer-box{
  display: flex;
  flex-direction: row;
}
.financeApp-title{
  height: 50px;
  line-height: 50px;
  border:1px solid #efefef;
  background-color: #fefefe;
  font-weight:800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul.financeApp-tab.cf li {
  /* display: flex; */
  /* flex-direction: row; */
  float: right;
}
.vertical-tab{
  background: red;
    width: 40px;
    height: 600px;
}
.content-ss {
  position: absolute;
  top: 0;
  left: 200px;
  padding: 100px 0;
}
.u-panel h3 {
  
  width: 1000px;
}